Repository bluet/syspkg: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, go-build, go-mod-verify

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # Official pre-commit hooks (maintained by pre-commit organization)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^testing/fixtures/
      - id: end-of-file-fixer
        exclude: ^testing/fixtures/
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        exclude: ^testing/fixtures/

  # Google's official pre-commit tool hooks (optional - uncomment if needed)
  # - repo: https://github.com/google/pre-commit-tool-hooks
  #   rev: v1.2.5
  #   hooks:
  #     - id: check-copyright
  #       args: ['--copyright', 'Copyright YYYY']

  # Go-specific hooks using local system tools (most secure approach)
  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        files: \.go$
        exclude: ^backup/
        description: Run gofmt to format Go code

      - id: go-imports
        name: go-imports
        entry: goimports
        args: [-w, -local, github.com/bluet/syspkg]
        language: system
        files: \.go$
        exclude: ^backup/
        description: Run goimports to organize imports per Go Code Review guidelines

      - id: go-vet
        name: go-vet
        entry: bash
        args: [-c, 'go vet $(go list ./... | grep -v backup)']
        language: system
        files: \.go$
        exclude: ^backup/
        pass_filenames: false
        description: Run go vet to check for suspicious constructs

      - id: go-mod-tidy
        name: go-mod-tidy
        entry: go
        args: [mod, tidy]
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false
        description: Run go mod tidy to ensure dependencies are clean

      - id: golangci-lint
        name: golangci-lint
        entry: bash
        args: [-c, 'golangci-lint run --fix --path-prefix="" --skip-dirs backup']
        language: system
        files: \.go$
        exclude: ^backup/
        pass_filenames: false
        description: Run golangci-lint with auto-fix

      # Uncomment for stricter pre-commit (may be slow):
      # - id: go-test
      #   name: go-test
      #   entry: go
      #   args: [test, -v, ./...]
      #   language: system
      #   files: \.go$
      #   pass_filenames: false
      #   description: Run go test to ensure code compiles and passes tests

      - id: go-build
        name: go-build
        entry: bash
        args: [-c, 'go build $(go list ./... | grep -v backup)']
        language: system
        files: \.go$
        exclude: ^backup/
        pass_filenames: false
        description: Check that packages can be built

      - id: go-mod-verify
        name: go-mod-verify
        entry: go
        args: [mod, verify]
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false
        description: Verify dependencies have expected content

docs: add comprehensive Kiro steering rules and project specs
  .kiro/specs/unified-package-manager/design.md
  .kiro/specs/unified-package-manager/requirements.md
  .kiro/specs/unified-package-manager/status.md
  .kiro/specs/unified-package-manager/tasks.md
  .kiro/steering/conventions.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

fix(apt): remove redundant verbose flag handling in Search method
  manager/apt/plugin.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-build

chore: add ARM64 architecture support for Docker testing
  testing/docker/README.md
  testing/docker/almalinux.Dockerfile
  testing/docker/alpine.Dockerfile
  testing/docker/docker-compose.test.yml
  testing/docker/rockylinux.Dockerfile
  testing/docker/ubuntu.Dockerfile
Due: none

feat: add APT purge support via CustomCommandArgs
  manager/apt/apt.go
  manager/apt/apt_commandrunner_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-build

feat: add APT purge support via CustomCommandArgs (#36)
  manager/apt/apt.go
  manager/apt/apt_commandrunner_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-build

chore: add ARM64 architecture support for Docker testing (#35)
  testing/docker/README.md
  testing/docker/almalinux.Dockerfile
  testing/docker/alpine.Dockerfile
  testing/docker/docker-compose.test.yml
  testing/docker/rockylinux.Dockerfile
  testing/docker/ubuntu.Dockerfile
Due: none

Prepare v0.1.6 release with YUM package manager support (#38)
  CHANGELOG.md
Due: none

fix wrong go version to 1.23.0 toolchain would not download with go get
  go.mod
Due: go-mod-tidy, go-mod-verify

add test for packageinfo checks for tag usage
  manager/packageinfo_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-build

add json tags to PackageInfo
  manager/packageinfo.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-build

Create quality-gate.yml
  .github/workflows/quality-gate.yml
Due: none

Create sonar-project.properties
  sonar-project.properties
Due: none

Add license scan report and status
  README.md
Due: none

Update README.md
  README.md
Due: none

Add license scan report and status (#65)
  README.md
Due: none

feat(packageinfo): add snake_case JSON tags and presence test (#40)
  go.mod
  manager/packageinfo.go
  manager/packageinfo_test.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint, go-build, go-mod-verify

fix(apt): honor DryRun in Clean() to prevent silent destructive ops
  manager/apt/apt.go
  manager/apt/apt_clean_dryrun_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-build

ci(docker): make test failures propagate + harden test-all service
  testing/docker/docker-compose.test.yml
Due: none

docs(changelog): add v0.1.7 entry
  CHANGELOG.md
Due: none

ci(docker): apply review feedback on test-all hardening
  testing/docker/docker-compose.test.yml
Due: none

ci(docker): switch to --abort-on-container-failure to stop killing slow tests
  Makefile
Due: none

ci(docker): use Compose v2 syntax (`docker compose`) for new flag
  Makefile
Due: none

v0.1.7: APT Clean dry-run safety + docker test exit-code propagation (#67)
  CHANGELOG.md
  Makefile
  manager/apt/apt.go
  manager/apt/apt_clean_dryrun_test.go
  testing/docker/docker-compose.test.yml
Due: go-fmt, go-imports, go-vet, golangci-lint, go-build
